{% load i18n %}
<div class="eolconditional_block">
    <div class=" alert alert-info">
        <p>{% trans 'Действия этого XBlock-а будут отражены в LMS.' %}</p>
    </div>
    <p>{% trans 'Когда задача ' %} <span class="block_id">{{ xblock.trigger_component }}</span> {% trans 'решена правильно или было достигнуто максимальное количество попыток, будут показаны следующие скрытые блоки (анимация будет выполняться по отношению к первому указанному компоненту):' %}</p>
    <ul>
            {% for component in conditional_component_list %}
            <li class="block_id">- {{ component }}</li>
            {% endfor %}
        </ul>
</div>
